Django==4.2.16
Pillow==10.4.0
django-crispy-forms==2.3
crispy-bootstrap5==2024.2
django-allauth==64.2.1
stripe==10.12.0
django-environ==0.11.2
psycopg2-binary==2.9.12
django-storages==1.14.4
boto3==1.35.32
django-mptt==0.16.0
django-taggit==6.1.0
whitenoise==6.7.0
django-filter==24.3